/* JQtouch overrides */
#jqt .back {
    -webkit-border-image: url(../images/backButton.png) 0 16 0 28;
	background-size: 51px 30px;
}

#jqt .back.active {
    -webkit-border-image: url(../images/backButtonTouch.png) 0 16 0 28;
}

#jqt .toolbar {
    background: url(../images/toolbar.png) #6d84a2 repeat-x;
	background-size: 1px 45px;
}

#jqt .redButton {
    -webkit-border-image: url(../images/redButton.png) 0 24 0 24;
	background-size: 35px 44px;
    color: #FFFFFF;
}

#jqt .redButton.active,
#jqt .redButton:active {
    -webkit-border-image: url(../images/redButtonTouch.png) 0 24 0 24;
	background-size: 35px 44px;
    color: #FFFFFF;
}

#jqt .button, #jqt .cancel, #jqt .add {
	background-size: 16px 29px;
    -webkit-border-image: url(../images/toolButton.png) 0 10 0 10;
}

#jqt .button.blue {
	-webkit-border-image: url(../images/activeButton.png) 0 10 0 10;	
}

#jqt .button.active, #jqt .cancel.active, #jqt .add.active {
	background-size: 16px 29px;
    -webkit-border-image: url(../images/toolButtonTouch.png) 0 10 0 10;	
}
#jqt #details li {
	position: relative;
}
#jqt li span.label {
	top: 0;
	position: absolute;
	display: block;
	color: #516691;
	width: 80px;
	float: left;
	text-align: right;
	font-size: 12px;
	padding-top: 14px;
}

#jqt li span.label-info {
	color: #000;
	padding-left: 90px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

#jqt ul li.arrow {
    background-image: url(../images/arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
	background-size: 26px 13px;
}
