/* JQtouch overrides */
#jqt .back {
    -webkit-border-image: url(../images/backButton.png) 0 16 0 28;
	background-size: 51px 30px;
}

#jqt .back.active {
    -webkit-border-image: url(../images/backButtonTouch.png) 0 16 0 28;
}

#jqt .toolbar {
    background: url(../images/toolbar.png) #6d84a2 repeat-x;
	background-size: 1px 45px;
}

#jqt .redButton {
    -webkit-border-image: url(../images/redButton.png) 0 24 0 24;
	background-size: 29px 46px;
    color: #FFFFFF;
}

#jqt .button, #jqt .cancel, #jqt .add {
	background-size: 16px 29px;
    -webkit-border-image: url(../images/toolButton.png) 0 10 0 10;
}

#jqt .button.blue {
	-webkit-border-image: url(../images/activeButton.png) 0 10 0 10;	
}

#jqt .button.active, #jqt .cancel.active, #jqt .add.active {
	background-size: 16px 29px;
    -webkit-border-image: url(../images/toolButtonTouch.png) 0 10 0 10;	
}

